<% unless comment.archived? %>



<div class=" p-4 rounded shadow-md">

<p class="text-lg font-bold text-gray-600 mb-1">

<!--  <strong>Commenter:</strong> -->
  <%= comment.commenter %>
</p>

<p class="text-gray-800 mb-5">
  
  <!-- <strong>Comment:</strong>  -->
  <%= comment.body %>
</p>



 
   <div class="flex-gap-3">
    <%= link_to "âœï¸ Edit Comment ", edit_article_comment_path(comment.article, comment) %>
    |
    <%= link_to "ðŸ—‘ï¸ Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
    </div>
 

</div>


<% end %>
